docs/n8n/neotravel-customer-email.workflow.json
{
  "name": "NeoTravel — Customer Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neotravel-customer-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "neotravel-customer-email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.headers['x-neotravel-webhook-secret'] }}",
              "rightValue": "REPLACE_WITH_N8N_WEBHOOK_SECRET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Check secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_YOUR_SENDER@gmail.com",
        "toEmail": "={{ $json.body.to.email }}",
        "subject": "={{ $json.body.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.body.html }}",
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Check secret", "type": "main", "index": 0 }]
      ]
    },
    "Check secret": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
